@media(max-width:767px) {
	#mainContent
	{
		margin: 0
	}
	
	.col-md-12.post-tools>div
	{
		padding-bottom: 15px;
		text-align: center
	}
	
	.media-body
	{
		padding: 0 10px 10px
	}
}

#left
{
	margin-top: 25px
}

#mainContent
{
	margin: 30px;
	padding: 25px
}

#right
{
	margin-top: 25px
}

#textarea
{
	max-width: 100%;
	width: 100%
}

.btn-default
{
	margin: 5px 0;
	width: 100%!important
}

.col-md-12.post-tools>div
{
	text-align: right
}

.col-md-12.profile-box
{
	background: #337AB7;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	margin: 5px 0;
	padding: 10px 15px;
	text-align: center
}

.comment-box
{
	background: #fff;
	border: 1px solid #ccc;
	margin: 3px 0;
	width: 100%
}

.comment-panel
{
	padding: 5px
}

.container-fluid
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0
}

.container-fluid.friends-page
{
	padding: 15px 25px
}

.form
{
	padding: 10px;
	width: 90%
}

.form-container
{
	background: #fff;
	border: 1px solid #ccc;
	margin: 0 0 15px;
	padding: 20px;
	width: 100%
}

.form-control
{
	box-shadow: none!important
}

.form-control
{
	border-radius: 0
}

.friend-container
{
	background: #f9f9f9;
	margin: .5%
}

.friend-container img.img-responsive
{
	height: auto;
	width: 100%
}

.media
{
	background: #fff;
	margin-bottom: 5px;
	padding: 10px
}

.media-body
{
	text-align: justify
}

.media-object
{
	height: 64px;
	width: 64px
}

.nav>li>a
{
	padding: 10px 25px
}

.navbar
{
	border-radius: 0
}

.navbar-inverse
{
	border-bottom: solid #9C9C9C 1px
}

.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand
{
	margin-left: 15px
}

.photo
{
	float: left;
	height: auto;
	padding-right: 10px;
	width: 100%
}

.photo-comments
{
	float: left;
	height: 100px;
	width: 100px
}

.photo-comments-small
{
	height: 64px;
	margin: 0 5px 5px 0;
	width: 64px
}

.post
{
	background: #fff;
	border: 1px solid #ccc;
	margin: 0 0 15px;
	width: 100%
}

.row
{
	margin-left: 0;
	margin-right: 0
}

body
{
	background: #EEE
}

button.btn.btn-default.btn-post-message
{
	background: -webkit-linear-gradient(315deg,#de380e,#001fff) 50% 50% / cover no-repeat fixed #23252f;
	border-radius: 0;
	color: #fff;
	font-size: 13px;
	font-weight: 100;
	letter-spacing: 1.2px;
	margin: 5px 0;
	text-transform: uppercase;
	width: 100%
}

form.form.post-message
{
	background: #fff;
	border: solid 1px #333;
	margin: 15px;
	padding: 15px
}

h3.post_title
{
	margin-bottom: 0;
	margin-top: 0
}

img.profile-pic-sidebar
{
	margin: 25px 0;
	width: 100%
}

input
{
	border: none;
	border: 1px solid #ccc;
	padding: 10px;
	width: 100%
}

label
{
	display: block
}

p.friend-grid-name
{
	background: #5328A4;
	color: #fff;
	font-size: 11px;
	font-weight: 100;
	letter-spacing: 1.4px;
	padding: 7px;
	text-align: center;
	text-transform: uppercase
}

textarea
{
	border: none;
	padding: 10px;
	width: 100%!important
}

textarea.form-control
{
	width: 100%!important
}